
<div class="nav-wrapper">
    <div class="nav-menu mb-0">
        <NavLink class="nav-link" href="/"> <i class="fas fa-home"></i> </NavLink>
        <NavLink class="nav-link mx-3" href="/search-by-ingredients">Search by ingredients </NavLink>
        <NavLink class="nav-link mx-3" href="/search-recipes">Search recipes</NavLink>
        <NavLink class="nav-link mx-3" href="/admin/log-in">Admin</NavLink>

    </div>
</div>


